.mgn-analytics-slider {
    margin: 0 -10px;
}
.mgn-analytic-item {
    padding: 10px;
    font-size: 14px;
    color: #212b36;
}
.mgn-analytic-item p {
    margin: 0;
}
.mgn-analytic-item-inner {
    padding: 15px;
    text-align: center;
    background-color: #ffffff;
    -webkit-box-shadow: 0 3px 3.5px #dfe3e8;
    -moz-box-shadow: 0 3px 3.5px #dfe3e8;
    box-shadow: 0 3px 3.5px #dfe3e8;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
}
.mgn-analytic-item .mgn-analytic-title {
    font-size: 20px;
}
.mgn-analytic-item .mgn-analytic-count {
    margin: 10px 0;
    font-size: 49px;
    color: #5a85e9;
    font-weight: bold;
}
.mgn-analytic-item .mgn-analytic-desc p {
    margin-bottom: 5px;
}
.mgn-analytic-item .mgn-analytic-desc p:last-child {
    margin-bottom: 0;
}