.s_bundle_products_mgn {
    width: 518px;
    color: #3A3A3A;
    font-size: 14px;
}

.s_bundle_products_mgn .s_title,
.s_related_products_mgn .s_title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.s_bundle_products_mgn .s_description {
    margin-bottom: 15px;
}

.s_bundle_products_mgn .s_product_item,
.s_related_products_mgn .s_product_item {
    display: flex;
    border-bottom: 1px #EBEBEB solid;
    padding: 15px 0;
    justify-content: space-between;
}

.s_bundle_products_mgn .s_product_image {
    max-width: 100px;
    margin-right: 20px;
}

.s_bundle_products_mgn .s_product_image img {
    max-width: 100px;
}

.s_bundle_products_mgn .s_product_detail {
    max-width: 300px;
}

.s_bundle_products_mgn .s_product_name,
.s_related_products_mgn .s_product_name {
    margin-bottom: 10px;
    display: block;
    font-weight: 700;
}

.s_bundle_products_mgn .s_product_options label,
.s_related_products_mgn .s_product_options label {
    font-size: 12px;
    font-weight: 300;
    margin-right: 5px;
}

.s_bundle_products_mgn .s_product_options select,
.s_related_products_mgn .s_product_options select {
    margin-right: 15px;
    background: #EEEEEE;
    color: #817F7F;
    padding: 5px;
    border: none;
}

.s_bundle_products_mgn .s_product_price,
.s_related_products_mgn .s_product_price {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

.s_bundle_products_mgn .s_regular_price,
.s_related_products_mgn .s_regular_price {
    font-size: 16px;
}

.s_bundle_products_mgn .s_old_price,
.s_related_products_mgn .s_old_price {
    color: #777777;
    font-size: 14px;
    text-decoration: line-through;
}

.s_bundle_products_mgn .s_product_total_summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.s_bundle_products_mgn .s_add_to_cart,
.s_related_products_mgn .s_add_to_cart {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 227px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    background: #3a3a3a;
    color: #fff;
    line-height: 40px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    box-shadow: none;
}

.s_bundle_products_mgn .s_total_price {
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.s_bundle_products_mgn .s_final_price {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
}

.s_bundle_products_mgn .s_discount {
    margin-left: 15px;
    color: #A2A2A2;
    font-size: 14px;
    font-weight: 700;
    text-decoration: line-through;
}

/* Bundle 2 products */

.s_bundle_products_mgn.s_bundle_two_products .s_product_list {
    display: flex;
    justify-content: space-between;
}

.s_bundle_products_mgn.s_bundle_two_products .s_product_item,
.s_related_products_mgn .s_product_item {
    position: relative;
    display: flex;
    border-bottom: none;
    padding: 15px 0;
    justify-content: flex-start;
    flex-direction: column;
    align-items: self-start;
    width: 232px;
}

.s_bundle_products_mgn.s_bundle_two_products .s_product_item:last-child:before {
    position: absolute;
    content: "";
    width: 27px;
    height: 52px;
    background: url("/s_icons/plus-icon.png");
    left: -38px;
    top: 90px;
}

.s_bundle_products_mgn.s_bundle_two_products .s_product_name {
    margin: 20px 0;
}

.s_bundle_products_mgn.s_bundle_two_products .s_product_image {
    max-width: 232px;
    margin: auto;
}

.s_bundle_products_mgn.s_bundle_two_products img {
    max-width: 232px;
}

.s_bundle_products_mgn.s_bundle_two_products .s_qty_product,
.s_related_products_mgn .s_qty_product {
    margin-bottom: 10px;
    font-size: 12px;
}

.s_bundle_products_mgn.s_bundle_two_products .s_product_options select,
.s_related_products_mgn .s_product_options select {
    margin-bottom: 11px;
}

.s_bundle_products_mgn.s_bundle_two_products .s_product_price,
.s_related_products_mgn .s_product_price {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.s_bundle_products_mgn.s_bundle_two_products .s_old_price,
.s_related_products_mgn .s_old_price {
    margin-left: 16px;
}

.s_bundle_products_mgn.s_bundle_two_products .s_product_total_summary {
    border-top: 1px solid #C7C7C7;
}

/* Related Products */

.s_related_products_mgn .s_title {
    text-align: center;
    margin-top: 17px;
    font-size: 24px;
    text-transform: uppercase;
}

.s_related_products_mgn .s_description {
    max-width: 687px;
    text-align: center;
    margin: auto;
}

.s_related_products_mgn .s_product_list {
    margin: auto;
    max-width: 1080px;
    margin-top: 60px;
}

.s_related_products_mgn .s_product_item {
    max-width: 246px;
    margin: 15px;
}

.s_related_products_mgn .s_product_image img {
    margin: auto;
}

.s_related_products_mgn .s_product_name {
    margin-top: 20px;
}

.s_related_products_mgn .s_regular_price {
    font-size: 18px;
}

.s_related_products_mgn .s_product_price {
    justify-content: flex-start;
    margin-bottom: 20px;
    margin-top: 12px;
}

.s_related_products_mgn .s_qty_product_counter {
    height: 44px;
    background: #EEEEEE;
    line-height: 44px;
    color: #817F7F;
    text-align: center;
    position: relative;
}

.s_related_products_mgn .s_qty_product_counter .s_qty_btn {
    content: "";
    top: 0;
    height: 100%;
    width: 50px;
    position: absolute;
    cursor: pointer;
    background-size: contain;
}


.s_related_products_mgn .s_qty_product_counter .s_qty_minus {
    left: 0;
    background: url("s_icons/qty-minus.png") no-repeat center;
}

.s_related_products_mgn .s_qty_product_counter .s_qty_plus {
    right: 0;
    background: url("s_icons/qty-plus.png") no-repeat center;
}

.s_related_products_mgn .s_add_to_cart {
    height: 46px;
    line-height: 46px;
    width: 100%;
}

.s_related_products_mgn .slick-arrow:before {
    content: "";
    background: url("s_icons/arrow-icon.png");
    width: 12px;
    height: 25px;
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
}

.s_related_products_mgn .slick-prev {
    left: -42px;
}

.s_related_products_mgn .slick-next {
    right: -42px;
    transform: rotate(180deg);
    top: calc(50% - 2px);
}

.s_related_products_mgn .slick-dots li {
    margin-right: 15px;
}

.s_related_products_mgn .slick-dots li button:before {
    content: "";
    background: #C7C7C7;
    height: 3px;
    width: 25px;
    border-radius: 3px;
}

.s_related_products_mgn .slick-dots li.slick-active button:before {
    background: #707070;
    height: 4px;
    top: -1px;
}


@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list {
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}

/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;
}

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}

.slick-prev:before {
    content: '←';
}

[dir='rtl'] .slick-prev:before {
    content: '→';
}

.slick-next {
    right: -25px;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}

.slick-next:before {
    content: '→';
}

[dir='rtl'] .slick-next:before {
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}

.slick-dots li {
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}


/*block 3*/

/* Slider */
.slick-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;

    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}