.mgn-stickybar {
    padding: 6px;
    background-color: #000000;
    border: 1px solid #707070;
    color: #ffffff;
    font-size: 14px;
}
.mgn-stickybar p {
    margin: 0;
}
.mgn-stickybar a {
    color: inherit;
    text-decoration: none;
}
.mgn-stickybar select,
.mgn-stickybar input[type="text"],
.mgn-stickybar input[type="password"],
.mgn-stickybar input[type="url"],
.mgn-stickybar input[type="tel"],
.mgn-stickybar input[type="search"],
.mgn-stickybar input[type="number"],
.mgn-stickybar input[type="datetime"],
.mgn-stickybar input[type="email"] {
    height: 28px;
    padding: 0 15px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background-color: #ffffff;
    border: 1px solid #dfe3e8;
    color: #616467;
}
.mgn-stickybar select:focus,
.mgn-stickybar input[type="text"]:focus,
.mgn-stickybar input[type="password"]:focus,
.mgn-stickybar input[type="url"]:focus,
.mgn-stickybar input[type="tel"]:focus,
.mgn-stickybar input[type="search"]:focus,
.mgn-stickybar input[type="number"]:focus,
.mgn-stickybar input[type="datetime"]:focus,
.mgn-stickybar input[type="email"]:focus {
    outline: none;
}
.mgn-stickybar .mgn-stickybar-content {
    display: table;
    width: 100%;
}
.mgn-stickybar .mgn-product-photo,
.mgn-stickybar .mgn-product-details,
.mgn-stickybar .mgn-product-options {
    display: table-cell;
    vertical-align: middle;
}
.mgn-stickybar .mgn-product-photo {
    width: 86px;
}
.mgn-stickybar .mgn-product-image {
    display: block;
}
.mgn-stickybar .mgn-product-image img {
    display: block;
    max-width: 86px;
    max-height: 86px;
}
.mgn-stickybar .mgn-product-details {
    padding-left: 20px;
}
.mgn-stickybar .mgn-product-name {
    font-size: 16px;
    font-weight: bold;
}
.mgn-stickybar .mgn-product-price {
    margin-top: 8px;
}
.mgn-stickybar .mgn-product-options {
    padding-left: 20px;
    text-align: right;
}
.mgn-stickybar .mgn-product-option {
    display: inline-block;
    margin: 5px 20px 5px 0;
}
.mgn-stickybar .mgn-product-option--qty label {
    position: relative;
    display: flex;
    padding: 0 15px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background-color: #ffffff;
    border: 1px solid #dfe3e8;
    color: #616467;
}
.mgn-stickybar .mgn-product-option--qty label > span {
    display: inline-block;
    line-height: 26px;
}
.mgn-stickybar .mgn-product-option--qty label > input {
    width: 40px;
    height: 26px;
    padding: 0;
    border: none;
    background: none;
}
.mgn-stickybar .mgn-product-option button {
    height: 28px;
    padding: 0 28px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    font-size: 12px;
    text-transform: uppercase;
}
.mgn-stickybar .mgn-product-option button:focus {
    outline: none;
}
.mgn-stickybar .mgn-product-option button.mgn-buynow-btn {
    color: #000000;
    background-color: #ffffff;
    border-color: #ffffff;
}
.mgn-stickybar .mgn-product-option button.mgn-addtocart-btn {
    color: #ffffff;
    background-color: #000000;
    border-color: #707070;
}
@media (max-width: 767px) {
    .mgn-stickybar .mgn-stickybar-content,
    .mgn-stickybar .mgn-product-photo,
    .mgn-stickybar .mgn-product-details,
    .mgn-stickybar .mgn-product-options {
        display: block;
    }
    .mgn-stickybar .mgn-stickybar-content:after {
        content: "";
        display: block;
        clear: both;
    }
    .mgn-stickybar .mgn-product-photo {
        float: left;
    }
    .mgn-stickybar .mgn-product-details {
        width: calc(100% - 86px);
        float: right;
    }
    .mgn-stickybar .mgn-product-options {
        clear: both;
        padding-top: 5px;
        padding-left: 0;
        text-align: left;
    }
}
@media (max-width: 480px) {
    .mgn-stickybar .mgn-product-option {
        display: block;
        margin: 10px 0;
    }
    .mgn-stickybar .mgn-product-option select,
    .mgn-stickybar .mgn-product-option input[type="text"],
    .mgn-stickybar .mgn-product-option input[type="password"],
    .mgn-stickybar .mgn-product-option input[type="url"],
    .mgn-stickybar .mgn-product-option input[type="tel"],
    .mgn-stickybar .mgn-product-option input[type="search"],
    .mgn-stickybar .mgn-product-option input[type="number"],
    .mgn-stickybar .mgn-product-option input[type="datetime"],
    .mgn-stickybar .mgn-product-option input[type="email"],
    .mgn-stickybar .mgn-product-option button {
        width: 100%;
    }
    .mgn-stickybar .mgn-product-option--qty label > input {
        width: 100%;
    }
}
.mgn-preview-inner{
    position: fixed;
    width: 100%;
    bottom: 0px;
}