.choose_icon a{
    padding-left:10px
}

.choose_icon a i:hover{
    border-color:#8897ff;
}

.choose_icon a i{
    padding:15px;
    border: 1px solid rgb(196, 205, 213);
    cursor:pointer;
    border-radius:5px;

}